.row {
    background: #424249;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    border: 1px;
    display: flex;
}
.text{
    color: white;
    position: relative;
    display: inline-block;
    margin-left: 150px;
    font-size: 2.5rem;
    font-family: fantasy;
}